# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Testing
/coverage

# Next.js build output
/.next/
/out/

# Production build artifacts
/build
/dist

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Misc
.DS_Store
*.pem

# Local env files
.env*.local

# Vercel
.vercel

# Runtime logs and PIDs
*.log
*.pid
npm-debug.log*
yarn-debug.log*
yarn-error.log*
